<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Edit Customer</title>
  
  <%= stylesheet_link_tag "logincustomer.css" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   <%#= javascript_include_tag 'utils' %>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <style>
    .booking-form {
      max-width: 760px;
      padding: 15px 25px 0px 25px;
    }
    input {
  width: 250px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
input::placeholder {
  color: #BBB;
}
  </style>

</head>
<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
          <% if alert %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= alert %>
          </div>
        <% elsif notice %>
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= notice %>
          </div>
        <% end %>
        <% resource.errors.full_messages.each do |message| %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= message %>
          </div>
        <% end %> 
        <%#= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-12">
            <div class="booking-cta">
              <% if current_customer.is_verified == true %>
                <h2>Edit <%= resource_name.to_s.humanize %></h2>
              <%else%>
                <h2> Verifikasi No Telepon </h2>
              <%end%>    
            </div>
          </div>  
          <div class="col-md-12 col-md-offset-1"> 
            <div class="booking-form">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <% if current_customer.is_verified == true %>
                  <% if current_customer.provider == "facebook"%>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.text_field :name_customer, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"name_customer" %>
                        <span class="form-label">Name Customer</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.email_field :email, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"email" %>
                        <span class="form-label">Email</span>
                      </div>
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-1">  
                          <input class="form-control" style="width: 30px;" value="+62" type="text">
                        </div>
                        <div class="col-md-10">
                          <div class="form-group">
                            <%= f.text_field :phone_customer, :class =>"form-control", pattern:"[0-9]+", oninvalid:"this.setCustomValidity('Inputan Harus Angka')", oninput:"setCustomValidity('')", :required => true, :autocomplete =>"customer_phone_customer", :maxlength =>"11" %>
                            <span class="form-label">Phone Customer</span>
                          </div>
                        </div>
                      </div>
                      <!--<div class="form-group">
                        <%#= f.text_field :phone_customer, :class =>"form-control", pattern:"[0-9]+", oninvalid:"this.setCustomValidity('Inputan Harus Angka')", oninput:"setCustomValidity('')", :required => true, :autofocus => true, :autocomplete =>"phone_customer" %>
                        <%#= f.text_field :phone_customer, :class =>"form-control", pattern:"[0-9]+", oninvalid:"this.setCustomValidity('Inputan Harus Angka')", oninput:"setCustomValidity('')", :required => true, :autocomplete =>"customer_phone_customer" %>
                        <span class="form-label">Phone Customer</span>
                      </div>-->
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.date_field :brithday_customer, :class =>"form-control", default: Time.zone.now, :required => true %>
                        <span class="form-label">Brithday</span>
                      </div>
                    </div>
                  </div>  
                    <div class="form-btn">
                      <%= f.submit "Update", :class =>"submit-btn" %>
                    </div>
                  <%else%> <!-- else is facebook -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.text_field :name_customer, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"name_customer" %>
                          <span class="form-label">Name Customer</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.email_field :email, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"email" %>
                          <span class="form-label">Email</span>
                        </div>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-1">  
                            <input class="form-control" style="width: 30px;" value="+62" type="text">
                          </div>
                          <div class="col-md-10">
                            <div class="form-group">
                              <%= f.text_field :phone_customer, :class =>"form-control", pattern:"[0-9]+", oninvalid:"this.setCustomValidity('Inputan Harus Angka')", oninput:"setCustomValidity('')", :required => true, :autocomplete =>"customer_phone_customer" %>
                              <span class="form-label">Phone Customer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.date_field :brithday_customer, :class =>"form-control", default: Time.zone.now, :required => true %>
                          <span class="form-label">Brithday</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.password_field :password, :class =>"form-control", :autocomplete =>"new-password" %>
                          <span class="form-label">New Password</span>
                          <% if @minimum_password_length %>
                            <em><%= @minimum_password_length %> characters minimum</em>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.password_field :password_confirmation, :class =>"form-control", :autocomplete =>"new-password" %>
                          <span class="form-label">Password Confirmation</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.password_field :current_password, :class =>"form-control", :required => true, :autocomplete =>"current-password" %>
                          <span class="form-label">Current-Password</span>
                          <i>(we need your current password to confirm your changes)</i>
                        </div>
                      </div>
                    </div>
                    <div class="form-btn">
                      <%= f.submit "Update", :class =>"submit-btn" %>
                    </div>
                  <%end%> <!-- end provider facebook -->  
                <%else%><!-- else is verified -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-1">  
                            <input class="form-control" style="width: 30px;" value="+62" type="text">
                          </div>
                          <div class="col-md-11">
                            <div class="form-group">
                              <%= f.text_field :phone_customer, :class =>"form-control", pattern:"[0-9]+", oninvalid:"this.setCustomValidity('Inputan Harus Angka')", oninput:"setCustomValidity('')", :required => true, :autocomplete =>"customer_phone_customer", :maxlength =>"11", :disabled =>"true" %>
                              <span class="form-label">Phone Customer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>     
                <%end%> <!-- end is verified -->   
              <%end%> <!-- end form -->
              <% if current_customer.is_verified == true %>
              <div class="row" style ="margin-top: 10px;">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> 
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%#= render "customers/shared/links" %>
                      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :style => "color:#07a99c" %> 
                      <br><%= link_to "Back", :back, :style => "color:#07a99c"%>
                    </div>
                  </div>
              </div>
              <%else%>
                <div class="form-btn">
                  <%= mobile_verification_button %>
                </div><br>
                <%= verify_mobile_number_form %>  
                  <%= link_to "Back", homecustomer_path, :style => "color:#07a99c"%>
                  <p>KODE OTP ANDA <span style="font-weight:700"><%= @customer.verification_code %></span></p>
              <%end%>          
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--
 <script>
    var input = document.querySelector("#customer_phone_customer");
    window.intlTelInput(input, {
      formatOnInit: true,
      separateDialCode: true,
      hiddenInput: "full_phone",
      initialCountry: "id",
      geoIpLookup: function(callback) {
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "us";
          callback(countryCode);
        });
      },
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" 
    });
 </script>
-->
  
  <script>
    $('.form-control').each(function () {
      floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
      floatedLabel($(this));
    });

    function floatedLabel(input) {
      var $field = input.closest('.form-group');
      if (input.val()) {
        $field.addClass('input-not-empty');
      } else {
        $field.removeClass('input-not-empty');
      }
    }
  </script>



