<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Sign up Customer</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
  <%= stylesheet_link_tag "logincustomer.css" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

</head>
<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
          <% if alert %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= alert %>
          </div>
        <% elsif notice %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= notice %>
          </div>
        <% end %>
        <% resource.errors.full_messages.each do |message| %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= message %>
          </div>
        <% end %> 
        <%#= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-12">
            <div class="booking-cta">
              <h2>Join Our Program</h2>
            </div>
          </div>  
          <div class="col-md-12 col-md-offset-1"> 
            <div class="booking-form">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.text_field :name_customer, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"name_customer" %>
                      <span class="form-label">Nama</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.email_field :email, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"email" %>
                      <span class="form-label">Email</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-1">  
                        <input class="form-control" style="width: 30px;" value="+62" type="text">
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <%= f.text_field :phone_customer, :class =>"form-control", pattern:"[0-9]+", oninvalid:"this.setCustomValidity('Inputan Harus Angka')", oninput:"setCustomValidity('')", :required => true, :autofocus => true, :autocomplete =>"phone_customer", :maxlength =>"11" %>
                          <span class="form-label">Nomor Handphone</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.date_field :brithday_customer, :class =>"form-control", default: Time.zone.now, :required => true %>
                      <span class="form-label">Tanggal Lahir</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.password_field :password, :class =>"form-control", :required => true, :autocomplete =>"new-password" %>
                      <span class="form-label">Password</span>
                      <input type="checkbox" onclick="myFunction()">Show Password
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, :class =>"form-control", :required => true, :autocomplete =>"new-password" %>
                      <span class="form-label">Password Confirmation</span>

                      <input type="checkbox" onclick="myFunctionconfirmation()">Show Password Confirmation
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <%= f.submit "Join Our Program", :class =>"submit-btn" %>
                </div>
              <%end%>
              <%= render "customers/shared/links" %>
              <%#= link_to "Log in with Facebook", customer_facebook_omniauth_authorize_path, method: :post %>
              <!--<a rel="nofollow" data-method="post" href="/customers/auth/facebook">
                <button class="loginBtn loginBtn--facebook">
                  Login with Facebook
                </button>
              </a>-->
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>



<script>
function myFunction() {
  var x = document.getElementById("customer_password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<script>
function myFunctionconfirmation() {
  var x = document.getElementById("customer_password_confirmation");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--
 <script>
    var input = document.querySelector("#customer_phone_customer");
    window.intlTelInput(input, {
      formatOnInit: true,
      separateDialCode: true,
      hiddenInput: "full_phone",
      initialCountry: "id",
      geoIpLookup: function(callback) {
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "us";
          callback(countryCode);
        });
      },
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" 
    });
 </script>
-->

  <script>
    $('.form-control').each(function () {
      floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
      floatedLabel($(this));
    });

    function floatedLabel(input) {
      var $field = input.closest('.form-group');
      if (input.val()) {
        $field.addClass('input-not-empty');
      } else {
        $field.removeClass('input-not-empty');
      }
    }
  </script>

