<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Change Your Password</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
  <%= stylesheet_link_tag "logincustomer.css" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    .alert-danger {
    color: #fff;
	  background-color: #07a99c;
	  font-weight: 400;
}
  </style>

</head>
<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
          <% if alert %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= alert %>
          </div>
        <% elsif notice %>
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
              <%= notice %>
          </div>
        <% end %>
         <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-12">
            <div class="booking-cta">
              <h2>Change Your Password</h2>
            </div>
          </div>  
          <div class="col-md-12 col-md-offset-1"> 
            <div class="booking-form">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.hidden_field :reset_password_token %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.password_field :password, :class =>"form-control", :required => true, :autofocus => true, :autocomplete =>"new-password" %>
                      <span class="form-label">New Passsword</span>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, :class =>"form-control", :required => true, :autocomplete =>"new-password" %>
                      <span class="form-label">Confirmation New Password</span>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <%= f.submit "Change My Password", :class =>"submit-btn" %>
                </div>
              <%end%>
              <%= render "customers/shared/links" %>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $('.form-control').each(function () {
      floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
      floatedLabel($(this));
    });

    function floatedLabel(input) {
      var $field = input.closest('.form-group');
      if (input.val()) {
        $field.addClass('input-not-empty');
      } else {
        $field.removeClass('input-not-empty');
      }
    }
  </script>


