<%= render 'layouts/header'%>
<% if current_user.admin?%>
  <style>
  .container-fluid {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
}
th {
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
td {
  font-size: 11px;
}

input, button, select, optgroup, textarea {
    width: 52px;
}

.field {
  font-size: 12px;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #141415;
}

.table thead th {
  border: 1px solid #141415;
}
</style>
<!-- Content Wrapper. Contains page content -->
<!--<div class="content-wrapper" style="background-image: url('/assets/rst.webp'); background-size:cover;background-repeat:   no-repeat;">-->
<div class="content-wrapper" style="background-color:rgb(237, 233, 233)">
  <%flash.each do |name, msg| %> 
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
        <%= notice %>
    </div>
  <% end %>
  <marquee><h1 style="color: #07a99c; font-weight: bold; margin-top:20%;">Welcome bisniscepat.com</h1></marquee>


  
</div>
  <!-- /.content-wrapper -->
<%else%>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%=home_index_path%>">Home</a></li>
            <li class="breadcrumb-item active">Customer</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
                <%flash.each do |name, msg| %> 
                    <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
                        <%= notice %>
                    </div>
                <% end %>
              <div class="card-header">
                <h3 class="card-title">Data Customer Join My Loyalty</h3>
                <%#= link_to 'Tambah Mitra Baru', new_customer_path, class:"btn-sm btn-primary float-right" %>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th style="min-width:160px; text-align:center">Nama Customer</th>
                    <th style="text-align:center;">Email</th>
                    <th style="min-width: 100px;"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @customers.each do |customer| %>
                    <% if customer.loyalty_points.exists? %>
                    <tr>
                      <td><%= customer.name_customer %></td>
                      <td><%= customer.email %></td>
                      <td style="vertical-align: middle; text-align: center;">
                            <%= link_to 'Give Point', customer_loyalty_points_path(customer.id), :class =>"btn btn-primary btn-sm", :style =>" background-color:#07a99c; border:#07a99c"%> 
                      </td>    
                    </tr>
                    <%end%>
                  <%end%>
                  </tbody>
                </table>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%end%>

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>  

<%= render 'layouts/footer'%>



