<%= render 'layouts/header'%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%=home_index_path%>">Home</a></li>
            <li class="breadcrumb-item active">Customer</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
                <%flash.each do |name, msg| %> 
                    <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
                        <%= notice %>
                    </div>
                <% end %>
              <div class="card-header">
                <h3 class="card-title">Data Customer</h3>
                <%#= link_to 'Tambah Mitra Baru', new_customer_path, class:"btn-sm btn-primary float-right" %>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th style="min-width:160px; text-align:center">Nama Customer</th>
                    <th style="text-align:center;">Email</th>
                    <th style="min-width:100px; text-align:center;">Telephone</th>
                    <th style="text-align:center;">Brithday</th>
                    <th colspan="2" style="text-align:center;">Status Akun Login</th>
                    <th style="text-align: center; min-width: 80px;">Login Terakhir</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @customers.each do |customer| %>
                    <tr>
                      <td><%= customer.name_customer %></td>
                      <td><%= customer.email %></td>
                      <td><%= customer.phone_customer %></td>
                      <td><%= customer.brithday_customer %></td>
                      <td style="text-align: center;">
                        <%= form_for(customer) do |f| %>
                        <%= f.select(:deactivated_customer, options_for_select([
                        ["True", "true"], 
                        ["False", "false"],   
                        ], :selected => f.object.deactivated_customer))%>
                        <%= f.submit 'Change Activated', :data => { :confirm => "Are you sure change status?" }, class:"btn btn-info btn-sm", style: "margin-top:5px;" %></td><% end %>
                      <td style="vertical-align: middle;">
                        <% if customer.deactivated_customer == false %>
                            <button class="btn btn-success btn-sm"> Activated </button>
                        <%else%>
                            <button class="btn btn-danger btn-sm"> Deactivated </button>
                        <%end%></td>  
                      <!--<td><%#= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn-sm btn-danger" %>-->
                      </td>
                      <td style="text-align: center;"><%= customer.current_sign_in_at.strftime("%d/%m/%Y (%H:%M:%S)")%></td>   
                    </tr>
                  <%end%>
                  </tbody>
                </table>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script>
  $(document).ready(function() {
    $('#example1').DataTable( {
       "order": [[ 1, "desc" ]]
    } );
} );
</script>


<%= render 'layouts/footer'%>
