<%= render 'layouts/header'%>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style type="text/css">
  .btn-success {
    width: 100%;
    background-color: #07a99c;
    border-color:#07a99c;
  }

  .btn-success:hover {
    background-color: #06988c !important;
    color:#FFF;
    border-color: #06988c;
  }

  .btn-danger {
    width: 100%;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%=home_index_path%>">Home</a></li>
            <li class="breadcrumb-item active">Program Loyalty</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <div class="row">
          <div class="col-12">
            <%flash.each do |name, msg| %> 
              <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
                <%= notice %>
              </div>
            <% end %>
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
			  <%= form_for([@customer, @loyalty_point, @loyalty_point.loyalty_point_transactions.new]) do |f| %>

				  <div class="form-group">
				    <%= f.label :point_customer_transaction %><br />
				    <%#= f.number_field :point_customer_transaction, class: "form-control", :value => 1, :min => 1 %>
            <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="loyalty_point_transaction[point_customer_transaction]" style="border: 1px solid #ced4da">
                      <span class="fas fa-minus"></span>
                  </button>
              </span>
              <input type="text" name="loyalty_point_transaction[point_customer_transaction]" class="form-control input-number" value="1" min="1" max="100" id="loyalty_point_transaction_point_customer_transaction">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="loyalty_point_transaction[point_customer_transaction]" style="border: 1px solid #ced4da">
                      <span class="fas fa-plus"></span>
                  </button>
              </span>
            </div>
				  </div>

				  <div class="form-group">
				    <%= f.text_field :trans_type, :value =>"get-point", class: "form-control", :hidden => true %>
				  </div>

				  <div class="form-group">
				    <%= f.submit "Give Point", class: "btn btn-success btn-sm" %>
				  </div>

            <%= link_to 'Back', :back, :class =>"btn btn-danger btn-sm" %> 

				<% end %>

      </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
  $('.btn-number').click(function(e){
    e.preventDefault();
    
    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {
            
            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            } 
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {
    
    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());
    
    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    
    
});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>

<%= render 'layouts/footer'%> 


