<!-- form start -->
<div id="quickForm">
<%= form_with(model: t_task, local: true) do |form| %>
  <% if t_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(t_task.errors.count, "error") %> prohibited this t_task from being saved:</h2>

      <ul>
      <% t_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Nama Pegawai</label>
      <%= form.text_field :nama_task, :class=>"form-control", :placeholder =>"Nama Task" %>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <%= form.text_area :description, :class =>"form-control", :placeholder =>"Description", :cols =>"30", :rows =>"5" %>
    </div>
  <div class="row">
  <div class="col-md-6">  
    <div class="form-group">
      <label for="exampleInputEmail1">Target Pilihan</label>
      <select onchange="targetpilihan(this);" class="form-control" placeholder>
        <option value=""></option>
        <option value="rupiah">Rupiah</option>
        <option value="persentase">Persentase</option>
        <option value="waktu">Waktu</option>
        <option value="frekuensi">Frekuensi</option>
      </select>
    </div>  

    <div class="form-group" id="rph" style="display: none;">
      <label for="exampleInputEmail1">Rupiah</label>
      <%= form.text_field :rupiah, :class=>"form-control", :placeholder =>"Rupiah" %>
    </div>
    <div class="form-group" id="pts" style="display: none;">
      <label for="exampleInputEmail1">Persentase</label>
      <%= form.text_field :presentase, :class=>"form-control", :placeholder =>"Presentase" %>
    </div>
    <div class="form-group" id="wkt" style="display: none;">
      <label for="exampleInputEmail1">Waktu</label>
      <%= form.text_field :waktu, :class=>"form-control", :placeholder =>"Waktu" %>
    </div>
    <div class="form-group" id="frk" style="display: none;">
      <label for="exampleInputEmail1">Frekuensi</label>
      <%= form.text_field :frekuensi, :class=>"form-control", :placeholder =>"Frekuensi" %>
    </div>
  </div>
  
  <div class="col-md-6">  
    <div class="form-group">
      <label for="exampleInputPassword1">Tingkat Kesulitan</label>
      <%= form.select(:tingkat_kesulitan, options_for_select([
            ["Low", "Low"], 
            ["Medium", "Medium"],
            ["High", "High"],   
            ], :selected => form.object.tingkat_kesulitan), {:include_blank => false}, {:class => "form-control"} ) %>
    </div>
  </div>
    
  </div>  

  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <%= form.submit :class =>"btn-sm btn-primary" %> || 
    <%= link_to 'Back', t_tasks_path, :class =>"btn-sm btn-danger" %>
  </div>
  <%end%>
</div>

<script>
function targetpilihan(that) {
    if (that.value == "rupiah") {

        document.getElementById("rph").style.display = "block";
        document.getElementById("pts").style.display = "none";
        document.getElementById("wkt").style.display = "none";
        document.getElementById("frk").style.display = "none";
    }
    else if (that.value == "persentase") {

        document.getElementById("pts").style.display = "block";
        document.getElementById("rph").style.display = "none";
        document.getElementById("wkt").style.display = "none";
        document.getElementById("frk").style.display = "none";
    }
    else if (that.value == "waktu") {

        document.getElementById("wkt").style.display = "block";
        document.getElementById("rph").style.display = "none";
        document.getElementById("pts").style.display = "none";
        document.getElementById("frk").style.display = "none";
    }
    else if (that.value == "frekuensi") {

        document.getElementById("frk").style.display = "block";
        document.getElementById("rph").style.display = "none";
        document.getElementById("wkt").style.display = "none";
        document.getElementById("pts").style.display = "none";
    }
     else {
        document.getElementById("rph").style.display = "none";
        document.getElementById("pts").style.display = "none";
        document.getElementById("wkt").style.display = "none";
        document.getElementById("frk").style.display = "none";
    }
}

</script>


          

