<%= render 'layouts/header'%><br>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Task</h3>
            </div>
            <!-- form start -->
            <div id="quickForm">
            <%= form_with(model: @t_task, local: true) do |form| %>
              <% if @t_task.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(t_task.errors.count, "error") %> prohibited this t_task from being saved:</h2>

                  <ul>
                  <% t_task.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nama Pegawai</label>
                  <%= form.text_field :nama_task, :class=>"form-control", :placeholder =>"Nama Task" %>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <%= form.text_area :description, :class =>"form-control", :placeholder =>"Description", :cols =>"30", :rows =>"5" %>
                </div>
              <div class="row">
              <div class="col-md-6">
                <% if (@t_task.rupiah != nil) %>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Target Pilihan Rupiah</label>
                    <%= form.text_field :rupiah, :class=>"form-control", :placeholder =>"Rupiah" %>
                  </div>
                <% elsif (@t_task.presentase != nil) %>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Target Pilihan Persentase</label>
                    <%= form.text_field :presentase, :class=>"form-control", :placeholder =>"Presentase" %>
                  </div>
                <% elsif (@t_task.waktu != "") %>  
                  <div class="form-group" id="wkt">
                    <label for="exampleInputEmail1">Target Pilihan Waktu</label>
                    <%= form.text_field :waktu, :class=>"form-control", :placeholder =>"Waktu" %>
                  </div>
                <% elsif (@t_task.frekuensi != "") %>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Target Pilihan Frekuensi</label>
                    <%= form.text_field :frekuensi, :class=>"form-control", :placeholder =>"Frekuensi" %>
                  </div>
                <%end%>

              </div>
              
              <div class="col-md-6">  
                <div class="form-group">
                  <label for="exampleInputPassword1">Tingkat Kesulitan</label>
                  <%= form.select(:tingkat_kesulitan, options_for_select([
                        ["Low", "Low"], 
                        ["Medium", "Medium"],
                        ["High", "High"],   
                        ], :selected => form.object.tingkat_kesulitan), {:include_blank => false}, {:class => "form-control"} ) %>
                </div>
              </div>
                
              </div>  

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <%= form.submit :class =>"btn-sm btn-primary" %> || 
                <%= link_to 'Back', t_tasks_path, :class =>"btn-sm btn-danger" %>
              </div>
              <%end%>
            </div>
		  </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->

<%= render 'layouts/footer'%>
