<%= render 'layouts/header'%>
<style>
  th {
    font-size: 14px;
  }

  td {
    font-size: 13px;
    vertical-align: middle !important;
  }

  .btn-success {
    width: 100%;
    background-color: #07a99c;
    border-color:#07a99c;
  }

  .btn-success:hover {
    background-color: #06988c !important;
    color:#FFF;
    border-color: #06988c;
  }

  .btn-primary {
    color: #07a99c !important;
    background-color: #fff !important;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #f0e9e9 !important;
  }

  .bg-info1 {
    background-color: #07a99c !important;
    color: #fff;
    margin-bottom: 0px;
}

.widget-user .card-footer {
    padding-top: 14px;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div><!-- /.col -->
        <div class="col-sm-6">
          
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
              <%flash.each do |name, msg| %> 
                    <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
                        <%= notice %>
                    </div>
                <% end %>
       <!-- /.row -->
        <div class="row">
          <% @loyalty_points.each do |loyalty_point| %>
            <% ptrans = LoyaltyPointTransaction.find_by(loyalty_point_id: loyalty_point.id, trans_type: "get-point") %>
            <% reward_ptrans = LoyaltyPointTransaction.find_by(loyalty_point_id: loyalty_point.id, trans_type: "redeemed-point") %>
            <% @t_mitra = loyalty_point.t_mitra %>
          <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-info1">
                <h3 class="widget-user-username" style="text-transform: capitalize;"><%= loyalty_point.customer.name_customer %></h3>
                <h1><%= loyalty_point.point_customer %><span style="font-size: 24px;">point</span></h1>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-12 ">
                    <div class="description-block border-right" style="float: left; width: 52%;">
                      <h5 class="description-header"><%= link_to "Give 1 point", customer_loyalty_point_loyalty_point_transactions_path(@customer.id, loyalty_point.id, :trans_type => "get-point"), class: "btn btn-primary btn-sm", :method => :post %><br>
                          <%= link_to " Give Point Request", new_customer_loyalty_point_loyalty_point_transaction_path(loyalty_point.customer.id, loyalty_point.id),class: "btn btn-primary btn-sm", :style =>"margin-top:6px;" %></h5>
                    </div>
                    <!-- /.description-block -->
                    <div class="description-block" style="float: right; width: 48%;">
                      <h5 class="description-header"><%= link_to "Redeem Point", t_mitra_loyalty_programs_url(loyalty_point.t_mitra_id, customer_id: loyalty_point.customer_id),
                      class: "btn btn-primary btn-sm" %></h5>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
                <div class="row">
                  <div class="col-sm-12">
                    <%= link_to "History Point",  customer_loyalty_point_path(@customer,loyalty_point) , class: "btn btn-success btn-sm" %>
                  </div>  
                </div>
                <!--/row-->
              </div>

            </div>
            <!-- /.widget-user -->
            <%= link_to 'Back', :back, :class =>"btn-sm btn-danger" %>
          </div>

          <!-- /.col -->
          <%end%>
          
        </div>
        <!-- /.row -->          
 
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<%= render 'layouts/footer'%>
