<% if user_signed_in?%>
  <%= render 'layouts/header'%>
<%else customer_signed_in?%>
  <%= render 'layouts/headercustomer'%>
<%end%>
<style>
  th {
    font-size: 14px;
  }

  td {
    font-size: 13px;
  }

  .btn-primary {
    color: #07a99c !important;
    background-color: #fff !important;
    border-color: #007bff;
  }
  .bg-info1 {
    background-color: #07a99c !important;
    color: #fff;
}
</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div><!-- /.col -->
       
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12 col-12">
            <%flash.each do |name, msg| %> 
              <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
                <%= notice %>
              </div>
            <% end %>
            <!-- small box -->
            <div class="small-box bg-info1">
              <div class="inner">
                <h3><%= @loyalty_point.point_customer %> Point</h3>
                <p><%= @loyalty_point.customer.name_customer %>&nbsp;||&nbsp;<%= @loyalty_point.t_mitra.nama_mitra %></p>
              </div>
              <div class="icon">
                <i class="ion ion-android-radio-button-on"></i>
              </div>
              <a href="javascript:history.back()" class="small-box-footer"><i class="fas fa-arrow-circle-left"></i>Back</a>
            </div>
          </div>
        </div>
      <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 style="text-align: center;">History Loyalty Point</h4>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th style="min-width: 20px; text-align: center;">Id</th>
                      <th style="min-width: 10px; text-align: center;">Point</th>
                      <th style="min-width: 10px;text-align: center;">Date</th>
                      <th style="min-width: 220px; text-align: center;">Transaksi Type</th>
                      <th style="text-align: center;">Batas Penukaran</th>
                      <!--<th style="text-align: center;">Status Ditukar</th>
                      <%if user_signed_in?%>
                      <th style="text-align: center;"></th>
                      <%else customer_signed_in?%>
                      <%end%>-->
                    </tr>
                  </thead>
                  <tbody>
                  <% @approved.each do |trans| %>
        				    <tr>
                      <td style="text-align: center;">
                        <%if trans.trans_type == "redeemed-point" %>
                          BC<%= trans.created_at.strftime("%^b") %><%= trans.created_at.strftime("%y")%><%= trans.id %>
                        <%else%>
                        <%end%>
                      </td>
        				      <td style="text-align: center;"><%= trans.point_customer_transaction %></td>
        				      <td><%= trans.created_at.strftime("%d/%m/%Y (%H:%M:%S)") %></td>
        				      <td>
                        <%if trans.trans_type == "redeemed-point"%>
                          <%= trans.trans_type %> <span style="font-weight: 700; font-style: italic;">(Untuk&nbsp;<%= trans.reward_transaction%>)</span>
                        <%else%>
                          <%= trans.trans_type %>
                        <%end%> 
                      </td>     
                      <td style="text-align: center;"><%= trans.reward_expired.strftime ("%d/%m/%Y") unless trans.reward_expired.nil? %></td>
                      <!--<td style="text-align: center; text-transform: capitalize; font-weight: 700"><%=trans.status_transaksi%></td>
                      <% if user_signed_in?%> 
                        <td style="text-align: center;">
                          <%#= link_to 'Edit status',   edit_customer_loyalty_point_loyalty_point_transaction_path(@loyalty_point.customer, @loyalty_point, trans), :class =>"btn-sm btn-success" %>
                          <%if trans.trans_type == "redeemed-point" %>
                            <%= form_for([@customer, @loyalty_point, trans]) do |f| %>
                              <%#= f.select(:status_transaksi, LoyaltyPointTransaction.status_transaksis.keys.map {|status_transaksi| [status_transaksi.titleize,status_transaksi]}) %>
                              <%= f.select(:status_transaksi, options_for_select([
                              ["Belum", "belum"], 
                              ["Sudah", "sudah"],   
                              ], :selected => f.object.status_transaksi), {:include_blank => false}, {:style =>"width: 87px; height:25px; margin-bottom:2px; text-align:center;"} ) %>
                              <%= f.submit 'Ubah Status', :data => { :confirm => "Anda yakin ingin merubah status?" }, class: "btn btn-primary btn-sm" %>
                            <% end %>
                          <%else%>
                          <%end%>  
                        </td>
                      <%else customer_signed_in?%>
                      <%end%>-->
        				    </tr>
      				    <% end %>
                  </tbody>
                </table>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>


<script>
  $(document).ready(function() {
    $('#example').DataTable( {
      columnDefs: [ { type: 'date', 'targets': [2] } ],
      "order": [[ 2, "desc" ]]
    } );
} );
</script>

<%= render 'layouts/footercustomer'%>




