<footer class="main-footer">
    <strong>Copyright &copy; 2020</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <%= javascript_include_tag 'adminlte' %>
    <%= javascript_include_tag 'bootstrap.bundle.min' %>
    <%= javascript_include_tag 'jquery.overlayScrollbars.min' %>
    <%= javascript_include_tag 'summernote-bs4.min' %>
    <%= javascript_include_tag 'tempusdominus-bootstrap-4.min' %>
    <%= javascript_include_tag 'moment.min' %>
    <%= javascript_include_tag 'daterangepicker' %>
    <%= javascript_include_tag 'jquery.knob.min' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

      <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</body>
</html>