<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <style>
  .nav-link:hover {
  text-decoration: underline 2px solid #07a99c;
  }
  .card-header {
    background-color: #07a99c !important;
    color: #fff;
    font-weight: 700;  
  }

  .card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
  }

  .content-header {
    padding: 0px .5rem;
  }

  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
    color: #07a99c;
  }

  .submit-btn {
  color: #fff;
  background-color: #07a99c;
  font-weight: 700;
  height: 40px;
  padding: 10px 35px;
  font-size: 14px;
  border: none;
  display: block;
  width: 100%;
  text-transform: capitalize;
}

 .submit-btn:hover {
  background-color: #0ac0b1;
}

.ui-widget-header {
    border: 1px solid #07a99c !important;
    background: #07a99c !important;
    }
  </style>
  
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="z-index: auto;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- SEARCH FORM 
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>-->
    <% if current_user.admin? or current_user.mitra? %>
      <a href="<%= edit_user_registration_path %>" class="nav-link" style="color:#07a99c; font-weight: 700;">Setting</a>
      <a href="<%=destroy_user_session_path%>" rel="nofollow" data-method="delete" class="nav-link" style="margin-left:-20px; color:#07a99c; font-weight: 700;">Log Out</a> 
    <%else%>
      <a href="<%=destroy_user_session_path%>" rel="nofollow" data-method="delete" class="nav-link" style="margin-left:-5px; color:#07a99c; font-weight: 700;">Log Out</a>
    <%end%>  
  </nav>
  <!-- /.navbar -->
    <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="<%=home_index_path%>" class="brand-link">
      <%= image_tag 'AdminLTELogo.png', :class =>"brand-image img-circle elevation-3", :style =>"opacity: .8" %>     
      <span class="brand-text font-weight-light">The Iron Bee</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <% if current_user.admin? %>
        <div class="image">
          <%= image_tag 'avatar2.png', :class =>"img-circle elevation-2"%>
        </div>
        <div class="info">
          <a href="<%=home_index_path%>" class="d-block">Admin</a>
        </div>
      <%else%>  
        <div class="image">
          <%= image_tag 'logo.jpg', :class =>"img-circle elevation-2"%>
        </div>
        <div class="info">
          <a href="<%=home_index_path%>" class="d-block"><%= current_user.name %></a>
        </div>
      <%end%>  
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="<%=home_index_path%>" class="nav-link active" style="background-color:#07a99c;">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>     
        
        <% if current_user.admin? %>
          
          <li class="nav-header">DATA MITRA</li>

          <li class="nav-item">
            <a href="<%= users_path %>" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                 Data Mitra Login
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= t_mitras_path %>" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                 Profil Mitra
              </p>
            </a>
          </li>

          <li class="nav-header">DATA CUSTOMER</li>

           <li class="nav-item">
            <a href="<%= customers_path %>" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                 Data Customer
              </p>
            </a>
          </li>

          <li class="nav-header">PROGRAM</li>

          <li class="nav-item">
            <a href="<%= rewards_path %>" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                 Create Rewards
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= loyalty_programs_path %>" class="nav-link">
              <i class="nav-icon fas fa-id-card"></i>
              <p>
                 All Loyalty Program
              </p>   
            </a>
          </li>

        <%elsif current_user.mitra?%>

          <li class="nav-item">
            <a href="<%=profilmitra_path%>" class="nav-link">
              <i class="nav-icon fas fa-address-card"></i>
              <p>
                 Profile
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= users_path %>" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                 Data Kasir
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= customers_path %>" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                 Data Customer
              </p>
            </a>
          </li>

          

          <li class="nav-header">Create Your Program</li>
          
          <li class="nav-item">
            <% @t_mitras.each do |t_mitra| %>
            <a href="<%= t_mitra_myreward_path(t_mitra) %>" class="nav-link">
              <i class="nav-icon fas fa-tags"></i>
              <p>
                 Reward
              </p>   
            </a>
          <% end %>
          </li>

          <li class="nav-item">
            <a href="<%= home_index_path %>" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
                 Join Loyalty
              </p>
            </a>
          </li>
        <%elsif current_user.kasir?%>
          
           <li class="nav-item">
            <a href="<%= home_index_path %>" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
                 Join Loyalty
              </p>
            </a>
          </li>

        <% end %>  
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    
  </aside>
